*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.bg-img{
    background-image: url('./../../images/Poster.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}