.trailer {
    padding-top: 32px;
    padding-bottom: 32px;
}

.trailer__list {
    justify-content: space-between;
}

.trailer__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
}